.popup {
	padding: 80px 0 80px $aside-bar-width;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 110;
	display: none;
	align-items: flex-start;
	justify-content: center;

	&_active {
		display: flex;
	}

	@include tablet {
		padding: 90px 33px 0;
	}

	@include mobile {
		padding: 90px 0 0;
	}

	&__fade {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba($black, 0.8);
		cursor: pointer;
	}

	&__close-btn {
		position: absolute;
		top: 30px;
		right: 30px;
		border: 1px solid $light-black;
		z-index: 112;

		width: 36px;
		height: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		transition: 0.3s;

		&::before,
		&::after {
			content: "";
			min-width: 16px;
			width: 16px;
			height: 2px;
			border-radius: 3px;
			transition: 0.3s;
			background: $white;
		}

		&::before {
			transform: translateY(1px) rotate(45deg);
		}

		&::after {
			transform: translateY(-1px) rotate(-45deg);
		}

		&:hover {
			background: $blue;
			border-color: $blue;
		}
	}

	&__content {
		padding: 30px 40px;
		max-width: 380px;
		// max-height: calc(100% - 40px);
		background: #ffffff;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: auto;

		@include mobile {
			max-width: calc(100% - 66px);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
		color: $black;
		margin-bottom: 14px;
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: $darken-gray;
		margin-bottom: 24px;
	}

	&__control {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 24px;
	}

	&__btn {
		width: 100%;

		&_secondary {
			background: $white;
			color: $light-black;
		}
	}

	&_mini {
		.popup__title {
			text-align: center;
		}

		.popup__control {
			flex-direction: row;
			column-gap: 10px;
		}
	}
}

// .popup {
// 	padding: 80px 0 80px $aside-bar-width;
// 	position: fixed;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	display: none;
// 	z-index: 110;
// 	align-items: flex-start;
// 	justify-content: center;

// 	@include tablet {
// 		padding: 90px 33px 0;
// 	}

// 	&_showed {
// 		display: flex;
// 	}

// 	&__close-btn {
// 		position: absolute;
// 		top: 30px;
// 		right: 30px;
// 		border: 1px solid $light-black;
// 		z-index: 112;

// 		&::before,
// 		&::after {
// 			background: $white;
// 		}

// 		@include tablet {
// 			display: none;
// 		}
// 	}

// 	&__backdrop {
// 		position: absolute;
// 		top: 0;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		background: rgba($black, 0.8);
// 		cursor: pointer;
// 	}

// 	&-content {
// 		width: 100%;
// 		max-height: calc(100% - 40px);
// 		background: #ffffff;
// 		border-radius: 12px;
// 		display: flex;
// 		flex-direction: column;
// 		position: relative;
// 		overflow: auto;

// 		@include tablet {
// 			max-width: calc(100% - 66px);
// 		}

// 		&_default {
// 			padding: 30px 40px;
// 			max-width: 380px;
// 		}

// 		&_confirm {
// 			padding: 40px 29px 50px;
// 			max-width: 310px;
// 		}

// 		&__title {
// 			font-weight: bold;
// 			font-size: 18px;
// 			line-height: 20px;
// 			color: $black;
// 		}

// 		&_default &__title {
// 			margin-bottom: 14px;

// 			@include tablet {
// 				font-size: 24px;
// 				line-height: 31px;
// 			}
// 		}

// 		&_confirm &__title {
// 			margin-bottom: 20px;
// 			text-align: center;
// 		}

// 		&__description {
// 			font-size: 13px;
// 			line-height: 21px;
// 			letter-spacing: 0.02em;
// 			color: $darken-gray;
// 		}

// 		&__btn {
// 			margin-top: 24px;
// 		}

// 		&__group {
// 			margin: 0 auto;
// 			width: calc(100% - 22px);
// 			display: flex;
// 			justify-content: space-between;

// 			&-btn {
// 				width: calc((100% - 10px) / 2);
// 			}
// 		}
// 	}
// }
