.suspect-personal-event {
	display: flex;
	flex-direction: column;
	row-gap: 8px;

	&__header {
		display: flex;
	}
	&__title {
		font-weight: 400;
		font-size: 15px;
		line-height: 14px;
		color: $dark-gray;
		margin-right: 10px;

		&_old {
			color: $gray;
			display: none;
		}
	}

	&__type {
		font-weight: 400;
		font-size: 15px;
		line-height: 14px;

		&_plus {
			display: none;
			color: $green;
		}

		&_minus {
			display: none;
			color: $red;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: $black;

		&_delited {
			display: none;
			text-decoration-line: line-through;
		}
	}

	&_changed {
		.suspect-personal-event {
			&__type {
				display: block;
			}

			&__title {
				&_old {
					display: block;
				}
			}

			&__text {
				&_delited {
					display: block;
				}
			}

			&__type {
				&_plus {
					display: block;
				}
			}
		}
	}

	&_minus {
		.suspect-personal-event {
			&__type {
				display: block;
			}

			&__type {
				&_minus {
					display: block;
				}
			}

			&__text {
				text-decoration: line-through;
			}
		}
	}

	&_plus {
		.suspect-personal-event {
			&__type {
				display: block;
			}

			&__type {
				&_plus {
					display: block;
				}
			}
		}
	}
}
