$blue: #4d89ee;
$red: #ee614d;
$green: #55cd6c;
$white: #ffffff;
$darken-gray: #686e78;
$dark-gray: #a1a8b4;
$gray: #cbcfd6;
$light-gray: #f0f0f4;
$dark-black: #18191b;
$black: #212224;
$light-black: #3b3e43;

$aside-bar-width: 320px;
$aside-bar-height-mobile: 70px;

$mobile-small: 320px;
$mobile: 480px;
$tablet: 768px;
$laptop-small: 1024px;
$laptop: 1248px;
$desktop: 1366px;
