<div class="base-box auth-block">
	<h2 class="base-box__title">Как ускорить и улучшить анализ</h2>
	<p class="base-box__text">Сервис использует улучшенные алгоритмы анализа, однако API Вконтакте отдает данные быстрее, через авторизованные аккаунты. Чтобы ускорить и улучшить точность получения данных вы можете авторизовать свой аккаунт ВКонтакте на нашем сервисе.</p>
	<div class="auth-block__control">
		<button class="base-button base-button_large auth-block__auth-btn">Авторизоваться через ВК</button>
		<button class="base-button base-button_textable auth-block__hide-btn">Больше не показывать</button>
	</div>
</div>
