<nav class="base-box settings-navigation">
	<h2 class="base-box__title settings-navigation__title">Настройки</h2>
	<a href="/settings-promocode.html" class="settings-navigation__link">Промокоды</a>
	<a href="/settings-tariff.html" class="settings-navigation__link">Тарифный план и оплата</a>
	<a href="/settings-your-account.html" class="settings-navigation__link">Ваша учетная запись</a>
	<a href="/settings-privacy-policy.html" class="settings-navigation__link">Соглашения</a>
	<a href="/settings-instructions.html" class="settings-navigation__link">Инструкция</a>
	<a href="/settings-feedback.html" class="settings-navigation__link settings-navigation__link">Настройка уведомлений</a>
	<button class="base-button base-button_textable settings-navigation__logout-btn">Выйти из аккаунта</button>
</nav>
